
section.banner {
    padding: 50px;
}

section.banner .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 900px){
    section.banner .container{
        flex-wrap:  wrap;
    }

    section.banner .container .texto{
        text-align: center;
    }

    section.banner{
        padding: 0 40px;
    }
}

