@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* ele respeita o tamanho da caixa */
*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #009688;
    
}

header {
    background-color: #00796B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .container {
    display: flex;
    /* alinhamento horizontal */
    justify-content: space-between;
    /* alinhamento vertical */
    align-items: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

footer {
    text-align: center;
    background-color: #C4C4C4;
    color: white;
    padding: 10px;
    margin-top: auto;
    bottom: 0;
    right: 0;
    left: 0;
    position: relative;
    
}

main{
    min-height: 95vh;
}