nav ul li #servicos{
    font-weight: 900;
}

article.servicos-conteudo{
    display:flex;
}


section.servicos h1{
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

article .conteudo-texto{
    margin-left: 60px;
}

article .conteudo-texto h2{
    text-transform: uppercase;
}

.container article.servicos-conteudo:last-child{
    margin-bottom: 100px;
}

@media (max-width: 900px){

    section.servicos .container{
        justify-content: center;
        padding: 0px 20px;
    }

    .servicos-conteudo{
        flex-wrap: wrap;
        justify-content: center;
    }

    .servicos-conteudo img{
        max-width: 100%;
    }


}
