nav ul li #sobre{
    font-weight: 900;
}

section.introducao-sobre{
    padding: 50px auto;
}

.introducao-sobre .intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.introducao-sobre h1{
    color: #009688;
    font-size: 50px;
    text-transform: uppercase;
}

section.video-sobre iframe{
    width: 100%;
    height: 600px;
}

.sobre-objetivos{
    margin: 100px auto;
}

.sobre-objetivos article{
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 900px){
    
    section.introducao-sobre .intro{
        flex-wrap: wrap;
    }

    section.introducao-sobre .intro img {
        max-width: 100%;
      
    }

    section.introducao-sobre{
        padding: 20px;
    }

    section.video-sobre .container{
        justify-content: center;
        padding: 10px;
    }

    section.video-sobre .container iframe{
        max-width: 100%;
        width: 350px;
        height: 250px;
    }
}

